.header {
    display: flex;
    justify-content: space-between;
}

.rec {
    box-sizing: border-box;
    padding: 0.75rem 0.75rem;
    width: 20rem;
    outline: none;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 3px;
    background-color: rgba(255, 255, 255 , 0.3);
    color: #FFFFFF;
}

.rec::placeholder{
  color: rgb(255, 255, 255, 0.6);
  font-family: Roboto;
  letter-spacing: 1px;
  line-height: 19px;
  font-weight: 500;

}

.search {
    position: relative;
}

.searchIcon {
    position: absolute;
    top: 13px;
    right: 15px;
}
